tmux/.config/tmux/plugins/
dwm/suckless/dmenu/dmenu
dwm/suckless/dmenu/dmenu_run
dwm/suckless/dmenu/dmenu_path
dwm/suckless/dmenu/stest
dwm/suckless/dmenu/*.o
dwm/suckless/dwm/dwm
dwm/suckless/dwm/*.o
dwm/suckless/dwmutils/kb_layout
dwm/suckless/slstatus/slstatus
dwm/suckless/slstatus/*.o
dwm/suckless/slstatus/components/*.o
dwm/suckless/st/st
dwm/suckless/st/*.o
fish/.config/fish/fish_variables
nvim/.config/nvim/lazy-lock.json
